{% extends "base.html.j2" %}

{% block content %}
    <h1>Logistic Mesh Map Best Route:</h1>
    <div>Map name: {{ result.mapname }}</div>
    <div>Best route: {{ result.best_route }}</div>
{% endblock %}