{% extends "base.html.j2" %}

{% block content %}
    <h1>Logistic Mesh Map Best Route:</h1>
    <div><b>Map name:</b> {{ result.mapname }}</div>
    <div><b>Best route:</b> {{ result.best_route }}</div>
    <div><b>Cost:</b> {{ result.cost }}</div>
{% endblock %}